.tt{
    text-decoration: none;
    color: #000;
  }
    .menu {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: start;
      gap: 20px;
      font-size: 18px;
      letter-spacing: -0.36px;
      justify-content: space-between;
    }


    .img {
      aspect-ratio: 2;
      object-fit: auto;
      object-position: center;
      width: 117px;
      fill: #000;
      align-self: stretch;
      max-width: 100%;
    }
    .div-2 {
      display: flex;
      margin-top: 12px;
      gap: 20px;
      font-weight: 400;
      justify-content: space-between;
    }
    .div-3 {
      leading-trim: both;
      text-edge: cap;
      font-family: Rubik, sans-serif;
      text-decoration: none;
    }
    .div-4 {
      leading-trim: both;
      text-edge: cap;
      font-family: Rubik, sans-serif;
      text-decoration: none;
    }
    .div-5 {
        leading-trim: both;
        text-edge: cap;
        font-family: Rubik, sans-serif;
        text-decoration: none;
    }
    .div-6 {
      text-decoration: none;
      leading-trim: both;
      text-edge: cap;
      font-family: Rubik, sans-serif;
      justify-content: center;
      border-radius: 50px;
      border-color: rgba(0, 0, 0, 1);
      border-style: solid;
      border-width: 2px;
      font-weight: 500;
      white-space: nowrap;
      padding: 15px 35px;
    }
