.div-2222 {
    text-transform: uppercase;
    text-align: center;
    font: 700 58px/65px Rubik, sans-serif;
}
@media (max-width: 991px) {
    .div-2222 {
    max-width: 100%;
    font-size: 40px;
    line-height: 50px;
    }
}
.task{
    text-transform: uppercase;
    text-align: center;
    font: 700 30px/45px Rubik, sans-serif;
}
@media (max-width: 991px) {
    .task {
    max-width: 100%;
    font-size: 20px;
    line-height: 30px;
    }
}

.llevel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Располагаем элементы вертикально */
    margin-bottom: 20px; /* Добавляем отступ снизу для разделения с другими элементами */
}

.text{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

.start {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    margin-top: 42px;
    }

    #startButton {
        border-radius: 58.333px;
        background-color: #8526ff;
        color: #eeefff;
        white-space: nowrap;
        letter-spacing: -0.56px;
        font: 500 28px Rubik, sans-serif;
        padding: 19px 60px;
        border: none;
        cursor: pointer;
    }

    @media (max-width: 991px) {
        .start {
            margin-top: 40px;
        }
        #startButton {
            white-space: initial;
            padding: 10px 20px; /* Скорректированный padding для маленьких экранов */
            font-size: 24px; /* Скорректированный размер шрифта для маленьких экранов */
        }
    }

    #set_answer {
        border: 2px solid #000; /* Толщина границы и ее цвет */
        border-radius: 10px; /* Закругление углов */
        padding: 10px 20px; /* Внутренние отступы */
        font-size: 16px; /* Размер шрифта */
        background-color: transparent; /* Прозрачный фон */
        cursor: pointer; /* Изменение курсора при наведении */
    }

    #set_answer:hover {
        background-color: #f0f0f0; /* Цвет фона при наведении курсора */
    }
    .cont {
        font-family: 'Rubik', sans-serif;
    }
    .ttt{
        color: #fff;
        text-decoration: none;
      }

      body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      }

      .content {
          flex: 1;

      }

      .footer {
      background-color: #000;
      display: flex;
      align-items: flex-start;
      gap: 20px;
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      letter-spacing: -0.36px;
      justify-content: space-between;
      padding: 70px 76px;
      }

      @media (max-width: 991px) {
      .footer {
          flex-wrap: wrap;
          padding: 0 20px;
      }
      }

      .footer-section {
      display: flex;
      flex-direction: column;
      }

      .img {
      aspect-ratio: 1.96;
      object-fit: auto;
      object-position: center;
      width: 180px;
      fill: #fff;
      align-self: center;
      margin: 0 18px;
      }

      .footer-text {
      font-family: Rubik, sans-serif;
      margin-top: 36px;
      text-transform: uppercase;
      letter-spacing: -0.4px;
      font-size: 20px;
      }

      .footer-link {
      font-family: Rubik, sans-serif;
      margin-top: 20px;
      }

      .footer-login {
      font-family: Rubik, sans-serif;
      justify-content: center;
      border-radius: 50px;
      border: 2px solid rgba(255, 255, 255, 1);
      white-space: nowrap;
      padding: 15px 35px;
      margin: auto 0;
      }

      @media (max-width: 991px) {
      .footer-login {
          white-space: initial;
          padding: 0 20px;
      }
      }