<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список групп</title>
</head>
<header>
    {% include 'menu.html' %}
</header>
<body>
    {% for group_info in group %}
        <p id="Test">Тест</p>
        <p>{{ group_info.name }}</p>
        <p>{{ group_info.slogan }}</p>
        <p>{{ group_info.description }}</p>
        <p>{{ group_info.members_count }}</p>
        <p>{{ group_info.lieder.username }}</p>
        <a href="/Groups/{{group_info.pk}}">Информация о группе</a>
    {% endfor %}
</body>
</html>