<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список игр</title>
</head>
<header>
    {% include 'menu.html' %}
    <h1>Список игр</h1>
</header>
<body>
    <div>
        <h3>Скоростной счет</h3>
        <p>Решите как можно больше примеров за 1 минуту!</p>
        <a href="SpeedScore">Перейти</a>
    </div>
    <div>
        <h3>Крестики-нолики</h3>
        <p>Играйте с другом на одном устройстве!</p>
        <a href="Tic-tac-toe">Перейти</a>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>