<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скоростной счет</title>
</head>
<header>
    {% include 'menu.html' %}
    <h2>Скоростной счет</h2>
</header>
<body>
    <p>{{ task }}</p>
    <div>
        <div>
            <h3>Таймер</h3>
            <div>
                <button onclick="start()">Запустить таймер</button>
                <p id="timer">1:00</p>
            </div>
            <div hidden="hidden" id="ans">
                <p id="example">Пример</p>
                <input id="player_answer" autocomplete="off">
                <button id="set_answer">Нажми плз</button>
                <p id="answer">0</p>
            </div>
        </div>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
<script>
const COUNT = 1;
let started = false;

function start() {
    if (started) {return}
    document.getElementById("ans").style.display = 'block';
    document.getElementById("answer").innerHTML = 0;
    document.getElementById('example').innerHTML = generate()
    let start_time = new Date();
    let stop_time = start_time.setMinutes(start_time.getMinutes() + COUNT)
    let countdown = setInterval(function () {
        let now = new Date().getTime();
        let remain = stop_time - now;
        let min = Math.floor((remain % (1000 * 60 * 60)) / (1000 * 60));
        let sec = Math.floor((remain % (1000 * 60)) / 1000);
        sec = sec < 10 ? "0" + sec : sec
        document.getElementById("timer").innerHTML = min + ":" + sec;
        if (remain < 0) {
            clearInterval(countdown);
            let total = document.getElementById("answer");
            document.getElementById("timer").innerHTML = "Ваш результат: " + total.innerHTML;
            started = false;
            document.getElementById("ans").style.display = 'none';
            let xhr = new XMLHttpRequest();
            xhr.open('POST', 'ajax', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({value: total.innerHTML}));
        }
    }, 1000);
    started = true;
}


function generate() {
    return Math.floor(Math.random() * 10) + ' + ' + Math.floor(Math.random() * 10);
}
</script>
<script>
    let total = 0;
    ans = document.getElementById('answer')
    const button = document.getElementById('set_answer');
    button.addEventListener('click', () => {
        let answer = document.getElementById('player_answer')
        let example = document.getElementById('example')
        if (is_right(example.innerHTML, answer.value)) {
            total++;
            ans.innerHTML = total;
        }
        answer.value = "";
        example.innerHTML = generate();
    })
    function is_right(example, answer) {
        return (Number(example.at(0)) + Number(example.at(-1))) === Number(answer);
    }
</script>
</html>