<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Скоростной счет</title>
</head>
<header>
    {% include 'menu.html' %}
    <h2>Скоростной счет</h2>
</header>
<body>
    <p>{{ task }}</p>
    <div>
        <div>
            <h3>Таймер</h3>
            <div>
                <button onclick="start()">Запустить таймер</button>
                <p id="timer">1:00</p>
            </div>
            <div hidden="hidden" id="ans">
                <p id="example">Пример</p>
                <input id="player_answer" autocomplete="off">
                <button id="set_answer">Нажми плз</button>
                <p id="answer">0</p>
            </div>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Ник игрока</th>
                        <th>Количество очков</th>
                        <th>Дата рекорда</th>
                    </tr>
                </thead>
                {% for record in records %}
                    <tr>
                        <td>{{ record.username }}</td>
                        <td>{{ record.score }}</td>
                        <td>{{ record.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
<script src="{% static 'Educational-Games-WebSite/js/startSpeedScore.js' %}"></script>
<script src="{% static 'Educational-Games-WebSite/js/addScore.js' %}"></script>
</html>