<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выход из аккаунта</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Для красивого отображения на мобильных устройствах-->
    <link rel = "stylesheet" href = "../static/Educational-Games-WebSite/css/logout.css">
</head>

<body>
    <div class="content">
        <header>
            {% include 'menu.html' %}
            <h1 class="vihod">Выход из аккаунта</h1>
        </header>

        <p class="message">Вы вышли из аккаунта!</p>
    </div>
</body>
<footer>
    <div class="footer"> <!-- Подвал -->
        <div class="footer-section">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd0b3c41aa532ff92b776294b387ab7b55453a4f0fbbcad7b61e03d3a5bc1a1f?apiKey=623949ae645442948e0700762c61b9d6&"
            class="img"
          />
          <div class="footer-text">Развивающие игры</div>
        </div>
        <div class="footer-section">
          <div class="footer-link">Главная</div>
          <div class="footer-link">О проекте</div>
          <div class="footer-link">О нас</div>
        </div>
        <div class="footer-section">
          <div class="footer-link">Крестики-нолики</div>
          <div class="footer-link">Устный счёт</div>
        </div>
        <div class="footer-login">Войти</div>
      </div>
      
</footer>
</html>