<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Для красивого отображения на мобильных устройствах-->
    <link rel = "stylesheet" href = "/static/Educational-Games-WebSite/css/menu.css">
</head>
<body>

    <div class="menu">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/3bf827366fb8945a50c08a4f89855519b567c9cc774d17c982efa8dd03da44ec?apiKey=623949ae645442948e0700762c61b9d6&"
          class="img"
        />
        <div class="div-2">
            {% if user.is_authenticated %}

                <div class="div-3">
                    <a href="/" class="tt">Главная страница</a>
                </div>
                <div class="div-4">
                    <a href="/Games" class="tt">Игры</a>
                </div>
                <div class="div-5"><a href="/Account/{{user_id}}" class="tt">Профиль</a></div>
                <div class="div-6" data-el="div-1"><a href="/logout" class="tt">Выйти</a></div></a>

            {% else %}
                <div class="div-3">
                    <a href="/" class="tt">Главная страница</a>
                </div>
                <div class="div-4">
                    <a href="/registration" class="tt">Регистрация</a>
                </div>
                <div class="div-6" data-el="div-1"><a href="/login" class="tt">Вход</a></div></a>
            {% endif %}

        </div>


    </div>
    

<!--    {% if user.is_authenticated %}-->
<!--        <a href="/">Главная страница</a>|<a href="/Games">Игры</a>|<a href="/Account">Данные об аккаунте</a>|<a href="/logout">Выйти</a>-->
<!--    {% else %}-->
<!--        <a href="/">Главная страница</a>|<a href="/registration">Регистрация</a>|<a href="/login">Вход</a>-->
<!--    {% endif %}-->
</body>
</html>



