<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Для красивого отображения на мобильных устройствах-->
    <link rel = "stylesheet" href = "../../static/Educational-Games-WebSite/css/account.css">
</head>

<body>
    <div class="content">
        <header>
            {% include 'menu.html' %}
        </header>

        <div class="acc">Профиль</div>
        
        <div class="text1">
            <p>Логин: {{ player.username }}</p>
            <p>Фамилия и имя: {{ player.surname }} {{ player.name }} </p>
            <p>Дата регистрации: {{ player.registration_date }}</p>
            <p>Уровень: {{ player.level }}</p>
            <p>Очки: {{ player.points }} / {{ max_points }}</p>
        </div>

    </div>
</body>
<footer>
    <div class="footer"> <!-- Подвал -->
        <div class="footer-section">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd0b3c41aa532ff92b776294b387ab7b55453a4f0fbbcad7b61e03d3a5bc1a1f?apiKey=623949ae645442948e0700762c61b9d6&"
            class="img"
          />
          <div class="footer-text">Развивающие игры</div>
        </div>
        <div class="footer-section">
          <div class="footer-link"><a href="/index" class="ttt">Главная</a></div>
          <div class="footer-link"><a href="#aboutGames" class="ttt">О проекте</a></div>
          <div class="footer-link"><a href="#aboutUs" class="ttt">О нас</a></div>
        </div>
        <div class="footer-section">
          <div class="footer-link"><a href="Games/tic.html" class="ttt">Крестики-нолики</a></div>
          <div class="footer-link"><a href="Games/speedScore.html" class="ttt">Устный счёт</a></div>
        </div>
        <div class="footer-login"><a href="/login.html" class="ttt">Войти</a></div>
      </div>


</footer>
</html>